.main-secao-home {
    display: flex;
    width: 100%;
}

.main-secao-home .secao-home {
    gap: 50px;
    display: flex;
    align-items: center;
}

.secao-home .secao-home-img {
    width: 949px;
    height: 832px;
    border-radius: 0px 0px 50px 0px;
    background-image: url('../../../assets/bannerHomer/Imagefundo.png');
    background-color: #DCF1A7;
}

.secao-home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secao-home-infos {
    width: 759px;
    /* height: 581px; */
    display: flex;
}

.secao-home-info {
    gap: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secao-home-info .home-info {
    gap: 20px;
    display: flex;
    flex-direction: column;
}



.secao-home-header .header-home h5 {
    font-size: 28px;
    color: #1A3129;
}

.secao-home-header .secao-home-title h1 {
    font-size: 58px;
    font-weight: bold;
    color: #1A3129;
}



.home-info .descri-btns {
    gap: 50px;
    display: flex;
    flex-direction: column;
}
.home-info .secao-home-descript {
    height: 108px;
}
.secao-home-descript p {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}

.secao-home-butaos {
    gap: 20px;
    display: flex;
}

.secao-home-butaos .btn-1 {
    padding: 16px 20px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    color: #262626;
    background-color: #CBEA7B;
    transition: 0.9s;
}

.secao-home-butaos .btn-1:hover {
    transform: scale(1.1);
}

.secao-home-butaos .btn-2 {
    padding: 16px 24px;
    font-weight: bolder;
    border: 1px solid #E5F5BD;
    border-radius: 8px;
    background-color: #F6FBE9;
    transition: 0.9s;
}

.secao-home-butaos .btn-2:hover {
    transform: scale(1.1);
    cursor: pointer; 
}

.secao-home-happy {
    gap: 8px;
    display: flex;
    align-items: center;
}

.secao-home-happy .secao-home-happy-imgs {

    padding: 8px 10px;
    border: 1px solid #CBEA7B;
    border-radius: 58px;
    display: flex;

}

.happy-imgs {
    width: 117px;
    height: 52px;
    display: flex;
    align-items: center;
    position: relative;
}

.happy-imgs .home-happy-img {
    width: 50px;
    height: 50px; 
    position: absolute;
}

.home-happy-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 53px;
    
}

.happy-imgs .img2 {
   right: 33px;
}
.happy-imgs .img3 {
   right: 0px;
}

.secao-home-happy-info {
    color: #234338;
}

.secao-home-happy-info p {
    font-weight: bolder;
    font-size: 20px;
}

.secao-home-happy-info p span {
    color: #468671;
}


/* ---------img------------ */










/* .main-secao-home {

}

.secao-home {
    height: 832px;
    display: flex;
    gap: 50px;
}

.secao-home-img {
    width: 949px;
    display: flex;
    position: relative;
    border-radius: 0px 0px 50px;
    background-color: #DCF1A7;

}

.secao-home-img .secao-home-fundo {
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/bannerHomer/Imagefundo.png);
    border-radius: 0px 0px 50px;
    display: flex;
    position: absolute;
}

.secao-home-img .secao-home-mulher {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 50px;
    display: flex;
    position: absolute;

}

.secao-home-img .secao-home-mulher img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secao-home .secao-home-infos {
    padding: 0px 163px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secao-home-infos .secao-home-info {
    width: 759px;
    height: 581px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.home-info .secao-home-header {
    display: flex;
    flex-direction: column;
}

.header-home {
    margin-bottom: 14px;
}

.header-home h5 {
    font-size: 28px;
    color: #1A3129;
    font-weight: bolder;
}

.header-home h5::after {
    display: flex;
    content: '';
    margin-top: 10px;
    width: 52%;
    height: 3px;
    border-bottom: 1px solid #CBEA7B;
}



.secao-home-header .secao-home-title h1 {
    font-size: 58px;
    font-weight: bold;
    color: #1A3129;
}

.secao-home-descript {
    margin-top: 20px;
}

.secao-home-descript p {
    font-size: 18px;
    font-weight: 400;
}

.secao-home-butaos {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.secao-home-butaos .btn-1 {
    width: 187px;
    height: 59px;
    border-radius: 8px;
    padding: 16px 20px;
    font-size: 18px;
    border: none;
    background-color: #CBEA7B;
    font-weight: bolder;
    cursor: pointer;
}

.secao-home-butaos .btn-2 {
    width: 154px;
    height: 59px;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid #E5F5BD;
    background-color: #F6FBE9;
    font-weight: bolder;
    cursor: pointer;
}

.secao-home-happy {
    display: flex;
    align-items: center;
    gap: 8px;
}

.secao-home-happy-imgs {
    width: 130px;
    height: 66px;
    padding: 8px 10px;
    border: 1px solid #CBEA7B;
    border-radius: 58px;
    display: flex;
    align-items: center;
    position: relative;
}


.secao-home-happy-imgs .home-happy-img {
    width: 50px;
    height: 50px;
    border-radius: 53px;

}




.secao-home-happy-imgs .img1 {
    position: absolute;
    left: 10px;
}
.secao-home-happy-imgs .img2 {
    position: absolute;
    left: 50px;
}
.secao-home-happy-imgs .img3 {
    position: absolute;
    left: 90px;
    z-index: 1;
}



.secao-home-happy img {
    width: 100%;
    height: 100%;
    border-radius: 53px;
    object-fit: cover;
}

.secao-home-happy .secao-home-happy-info {
    color: #234338;
    font-size: 20px;
    font-weight: bold;
}

.secao-home-happy-info span {
    color: #468671;
} */