.main-testimonials {
    width: 100%;
    height: 695px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-testimonials .cart-testimonials {
    width: 1596px;
    gap: 80px;
    display: flex;
    flex-direction: column;
}

.cart-testimonials .testimonials-title {
    padding: 0px 300px;
    height: 109px;
}

.testimonials-title .cart-title {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cart-title {
    color: #262626;
}

.cart-title h1 {
    font-size: 48px;
    font-weight: bold;
}

.cart-title p {
    font-size: 18px;
}

.cart-testimonials-comments {
    width: 100%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-cart {
    width: 100%;
    height: 506px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.main-cart .cart-listas {
    width: 100%;
    height: 398px;
    gap: 20px;
    display: grid;
    grid-auto-flow: column;
    position: relative;
}

.cart-listas .cart-list {
    width: 518.67px;
    height: 100%;
    border: 1px solid #EEF8D3;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.cart-list .cart-comments {
    padding: 40px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.cart-comments .icons-comment {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-comment svg {
    color: #356554;
    width: 40px;
    height: 40px;
}

.cart-comments .comment p {
    font-size: 18px;
    color: #333333;
}

.cart-perfil {
    padding: 30px 40px;
    gap: 12px;
    background-color: #F6FBE9;
    display: flex;
    align-items: center;
}

.cart-perfil .cart-perfil-comment-img {
    width: 60px;
    height: 60px;
}

.cart-perfil-comment-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.commet-perfil-name p {
    font-size: 18px;
    font-weight: bolder;
    color: #1A3129;

}

.testimonials-comments-carrosel-btns {
    width: 100%;
    height: 58px;
    gap: 60px;
    display: flex;
    justify-content: center;
}

.testimonials-comments-carrosel-btns .scroll-btn {
    width: 58px;
    height: 58px;
    border: 1px solid #EEF8D3;
    background-color: #F6FBE9;
    border-radius: 8px;
}

.scroll-btn svg {
    width: 34px;
    height: 34px;
    color: #333333;
}