.main-testimonials {
    width: 100%;
    margin-top: 130px;
}

.cart-testimonials {
    width: 1596px;
    height: 695px;
    gap: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-testimonials .testimonials-title {
    width: 100%;

}



.testimonials-title .cart-title {
    margin: 0px 300px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonials-title .cart-title h1 {
    font-size: 48px;
    font-weight: bold;
}

.testimonials-title .cart-title p {
    font-size: 18px;
}

.cart-testimonials-comments {
    height: 506px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.cart-testimonials-comments .cart-listas {
    display: flex;
    gap: 20px;
    position: absolute;
    transform: translate(0);
}
/* -1618px */
.cart-listas .cart-list {
    height: 398px;
    flex: 0 0 517px;
    border: 1px solid #EEF8D3;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cart-listas .cart-list .cart-comments {
    padding: 40px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.cart-comments .icons-comment {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icons-comment svg {
    width: 40px;
    height: 40px;
    color: #356554;
}

.cart-comments .comment p {
    font-size: 18px;
}

.cart-list .cart-perfil {
    height: 120px;
    padding: 30px 40px;
    gap: 12px;
    background-color: #F6FBE9;
    display: flex;
    align-items: center;
}

.cart-perfil .cart-perfil-comment-img {
    width: 60px;
    height: 60px;
}

.cart-perfil .cart-perfil-comment-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.cart-perfil p {
    font-size: 18px;
    font-weight: bolder;
    color: #1A3129;
}

.cart-testimonials-comments .testimonials-comments-carrosel-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    align-items: center;
    gap: 30px;
    /* oLHA AQUI */
}

.testimonials-comments-carrosel-btns .scroll-btn {
    width: 58px;
    height: 58px;
    z-index: 2;
    border-radius: 8px;
    background-color: #F6FBE9;
    border: 1px solid #EEF8D3;
    cursor: pointer;
}

.scroll-btn svg {
    width: 34px;
    height: 34px;
    color: #333333;
}

.testimonials-comments-carrosel-btns .ciculo {
    width: 56px;
    height: 8px;
    gap: 4px;
    display: flex;
    justify-content: center;
}

.ciculo .icons01.active, 
.ciculo .icons02.active {
    background-color: #356554;
}

.ciculo .icons01,
.ciculo .icons02 {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 505%; 
    background-color: #E5F5BD;
}