.main-footer {
    width: 1920px;
    height: 299px;
    background-color: #1A3129;
    display: flex;
}

.footer {
    width: 1595px;
    padding: 50px 163px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer .info-about {
    width: 100%;
    gap: 50px;
    display: flex;
    flex-direction: column;
}


.info-about .nav {
    width: 100%;
    display: flex;
}


.info-about .footer-cart-contact {
    height: 55px;
    padding: 16px 20px;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #2C5446;
    background-color: #234338;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-cart-contact .info-contact {
    display: flex;
}

.info-contact .info-contact-footer {
    display: flex;
    gap: 20px;
}

.info-contact-footer .email,
.info-contact-footer .call,
.info-contact-footer .location {
    padding: 14px;
    gap: 6px;
    border: 1px solid #2C5446;
    border-radius: 6px;
    display: flex;
}

.info-contact-footer .email svg,
.info-contact-footer .call svg,
.info-contact-footer .location svg {
    color: #CBEA7B;
}