.global {
  width: 1920px;
  display: flex;
  flex-direction: column;
  
}

.globo-main {
  width: 1920px;
  background-color: #FAFDF2;
  display: flex;
  flex-direction: column;
}

/* reposividade global leptop */
@media (max-width: 1440px) {
  .global {
    width: 1440px;

  }

  .globo-main {
    width: 1440px;

  }

}